<p id="notice"><%= notice %></p>

<hr>
<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%=@supplier_account.supplier.name%> Bank Details</h5>
        <hr>
        <img class="card-img-top img-fluid" src="https://orig00.deviantart.net/f634/f/2011/050/e/1/default_sailor_moon_2_by_hato_photo-d39x0um.png" alt="Card image cap">
        <p class="card-text">
          <p> <strong>Supplier:</strong> <%= @supplier_account.supplier.name %> </p>
          <p> <strong>Bank:</strong> <%= @supplier_account.bank %>  </p>
          <p> <strong>Address:</strong> <%= @supplier_account.address %> </p>
          <p> <strong>Account:</strong> <%= @supplier_account.account %> </p>
          <p> <strong>Swift:</strong> <%= @supplier_account.swift %> </p>
        </p>
        <a href="<%= suppliers_path %>" class="btn btn-outline-secondary btn-sm">Go back to All Suppliers</a>
      </div>
    </div>
  </div>
</div>
