<p id="notice"><%= notice %></p>

<p>
  <strong>Clause:</strong>
  <%= @payment_term.clause %>
</p>

<p>
  <strong>Conditions:</strong>
  <%= @payment_term.conditions %>
</p>

<%= link_to 'Edit', edit_payment_term_path(@payment_term) %> |
<%= link_to 'Back', payment_terms_path %>
