<%= form_with(model: seller_account, local: true) do |form| %>
  <% if seller_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seller_account.errors.count, "error") %> prohibited this seller_account from being saved:</h2>

      <ul>
      <% seller_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :seller_id %>
    <%= form.text_field :seller_id, id: :seller_account_seller_id %>
  </div>

  <div class="field">
    <%= form.label :bank %>
    <%= form.text_field :bank, id: :seller_account_bank %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :seller_account_address %>
  </div>

  <div class="field">
    <%= form.label :account %>
    <%= form.text_field :account, id: :seller_account_account %>
  </div>

  <div class="field">
    <%= form.label :swift %>
    <%= form.text_field :swift, id: :seller_account_swift %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
