<p id="notice"><%= notice %></p>

<h1>Seller Accounts</h1>

<table class="table table-striped table-bordered table-hover table-sm " id="myTable">
  <thead>
    <tr>
      <th>Seller</th>
      <th>Bank</th>
      <th>Address</th>
      <th>Account</th>
      <th>Swift</th>
      <th>link</th>
      <th>link</th>
      <th>link</th>
    </tr>
  </thead>

  <tbody>
    <% @seller_accounts.each do |seller_account| %>
      <tr>
        <td><%= seller_account.seller.name %></td>
        <td><%= seller_account.bank %></td>
        <td><%= seller_account.address %></td>
        <td><%= seller_account.account %></td>
        <td><%= seller_account.swift %></td>
        <td><%= link_to 'Show', seller_account %></td>
        <td><%= link_to 'Edit', edit_seller_account_path(seller_account) %></td>
        <td><%= link_to 'Destroy', seller_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seller Account', new_seller_account_path %>
