<p id="notice"><%= notice %></p>

<hr>
<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> <%= @seller_account.seller.name%> Bank Details </h5>
        <hr>
        <img class="card-img-top img-fluid" src="<%= @seller_account.seller.avatar%>" alt="Card image cap">
        <p class="card-text">
          <p> <strong>Seller:</strong> <%= @seller_account.seller.name %> </p>
          <p> <strong>Bank:</strong> <%= @seller_account.bank %> </p>
          <p> <strong>Address:</strong> <%= @seller_account.address %> </p>
          <p> <strong>Account:</strong> <%= @seller_account.account %> </p>
          <p> <strong>Swift:</strong> <%= @seller_account.swift %> </p>
        </p>
        <a href="<%= sellers_path %>" class="btn btn-outline-secondary btn-sm">Go back to All Selllers</a>
      </div>
    </div>
  </div>
</div>
