<p id="notice"><%= notice %></p>

<h1>Handlers</h1>

<table class="table table-responsive table-striped table-bordered table-hover table-sm " id="myTable">
  <thead>
    <tr>
      <th>Supplier</th>
      <th>Name</th>
      <th>Email</th>
      <th>link</th>
    </tr>
  </thead>

  <tbody>
    <% @handlers.each do |handler| %>
      <tr>
        <td><%= handler.supplier.name %></td>
        <td><%= handler.name %></td>
        <td><%= handler.email %></td>
        <td><%= link_to 'Show', handler, class: "btn btn-outline-secondary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
