<p id="notice"><%= notice %></p>

<hr>

<h1>Quotations</h1>
<table class="table table-striped table-bordered table-hover table-sm " id="myTable">
  <thead>
    <tr>
      <th> <strong>Quot. N°:</strong> </th>
      <th> <strong>Season:</strong> </th>
      <th> <strong>Supplier:</strong> </th>
      <th> <strong>Handler:</strong> </th>
      <th> <strong>Seller:</strong> </th>
      <th> <strong>Client:</strong> </th>
      <th> <strong>Clause:</strong> </th>
      <th> <strong>Conditions:</strong> </th>
      <th> <strong>Status:</strong> </th>
      <th> <strong>Proforma:</strong> </th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>  <%= @quotation.id %> </td>
      <td>  <%= @quotation.season.name %> </td>
      <td>  <%= @quotation.supplier.name %> </td>
      <td>  <%= @quotation.handler.name %> </td>
      <td>  <%= @quotation.seller.name %> </td>
      <td>  <%= @quotation.client.name %> </td>
      <td>  <%= @quotation.payment_term.clause %> </td>
      <td>  <%= @quotation.payment_term.conditions %> </td>
      <td>  <%= @quotation.status? ? "Confirmed":"Pending" %> </td>
      <td>  <%= @quotation.proforma %> </td>

    </tr>
  </tbody>
</table>

<%= link_to 'Quotation Details', quotation_quotation_details_path(@quotation) %> |
<%= link_to 'Edit', edit_quotation_path(@quotation) %> |
<%= link_to 'Back', quotations_path %>



<h1>Quotation Details</h1>

<table class="table table-striped table-bordered table-hover table-sm " id="myTable">
  <thead>
    <tr>
      <th>Quot. n°</th>
      <th>Quot.Det. N°</th>
      <th>Brand</th>
      <th>Product</th>
      <th>Style</th>
      <th>Color</th>
      <th>Quantity</th>
      <th>Size</th>
      <th>Ratio</th>
      <th>Delivery date</th>
      <th>Target price</th>
      <th>Final price</th>
      <th>Otherdetail</th>
      <th>Total</th>
      <th>Status</th>
      <th>link</th>
      <th>link</th>
      <th>link</th>

      </tr>
  </thead>

  <tbody>
    <% @quotation_details.each do |quotation_detail| %>
      <tr>
        <td><%= quotation_detail.quotation.id %></td>
        <td><%= quotation_detail.id %></td>
        <td><%= quotation_detail.brand.name %></td>
        <td><%= quotation_detail.product.description %></td>
        <td><%= quotation_detail.style %></td>
        <td><%= quotation_detail.color.name %></td>
        <td><%= quotation_detail.quantity %></td>
        <td><%= quotation_detail.size.name %></td>
        <td><%= quotation_detail.ratio %></td>
        <td><%= quotation_detail.delivery_date %></td>
        <td><%= quotation_detail.target_price %></td>
        <td><%= quotation_detail.final_price %></td>
        <td><%= quotation_detail.otherdetail %></td>
        <td><%= quotation_detail.total%></td>
        <td><%= quotation_detail.status %></td>
        <td><%= link_to 'Edit variant', edit_variant_path(quotation_detail) %></td>
        <td><%= link_to 'Edit', edit_quotation_quotation_detail_path(quotation_detail.quotation, quotation_detail) %></td>
        <td><%= link_to 'Destroy', [quotation_detail.quotation, quotation_detail], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'back to Quotations', quotations_path, class: "btn btn-outline-secondary" %>

<%= link_to 'New Quotation Detail', new_quotation_quotation_detail_path, class: "btn btn-outline-secondary" %>
