<%= form_with(model: variant, local: true) do |form| %>
  <% if variant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(variant.errors.count, "error") %> prohibited this variant from being saved:</h2>

      <ul>
      <% variant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table class="table table-striped table-bordered table-hover table-sm " id="myTable">
  <thead>
    <tr>
      <th><%= form.label :quotation_detail_totaldetail_id %> </th>
      <th><%= form.label :quantity %></th>
      <th><%= form.label :size_id %></th>
      <th><%= form.label :ratio %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= form.text_field :quotation_detail_id, id: :variant_quotation_detail_id %></th>
      <td><%= form.number_field :quantity, id: :variant_quantity %></th>
      <td><%= form.text_field :size_id, id: :variant_size_id %></th>
      <td><%= form.number_field :ratio, id: :variant_ratio %></th>
    </tr>
  </tbody>
</table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
