<p id="notice"><%= notice %></p>

<h1>Variants</h1>

<table class="table table-striped table-bordered table-hover table-sm " id="myTable">
  <thead>
    <tr>
      <th>Quotation N°</th>
      <th>Quotation detail</th>
      <th>Quantity</th>
      <th>Size</th>
      <th>Ratio</th>
      <th>link</th>
      <th>link</th>
      <th>link</th>
    </tr>
  </thead>

  <tbody>
    <% @variants.each do |variant| %>
      <tr>
        <td><%= variant.quotation_detail.quotation.id %></td>
        <td><%= variant.quotation_detail.id %></td>
        <td><%= variant.quantity %></td>
        <td><%= variant.size.name %></td>
        <td><%= variant.ratio %></td>
        <td><%= link_to 'Show', variant %></td>
        <td><%= link_to 'Edit', edit_variant_path(variant) %></td>
        <td><%= link_to 'Destroy', variant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Variant', new_variant_path %>
