<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table table-striped table-bordered table-hover table-sm " id="myTable">

  <thead>
    <tr>
      <th>Category</th>
      <th>Photo</th>
      <th>Description</th>
      <th>Finish</th>
      <th>Composition</th>
      <th>Construction</th>
      <th>Fit</th>
      <th>Placket</th>
      <th>Pocket</th>
      <th>Washing</th>
      <th>Notes</th>
      <th>Link</th>
      <th>Link</th>
      <th>Link</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.category.name %></td>
        <td><%= image_tag product.photo.thumb%></td>
        <td><%= product.description %></td>
        <td><%= product.finish %></td>
        <td><%= product.composition %></td>
        <td><%= product.construction %></td>
        <td><%= product.fit %></td>
        <td><%= product.placket %></td>
        <td><%= product.pocket %></td>
        <td><%= product.washing %></td>
        <td><%= product.note %></td>
        <td><%= link_to 'Show', product, class: "btn btn-outline-secondary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_product_path(product), class: "btn btn-outline-secondary btn-sm" %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
