<p id="notice"><%= notice %></p>

<h1>Suppliers</h1>

<table class="table table-responsive table-striped table-bordered table-hover table-sm " id="myTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Alias</th>
      <th>Address</th>
      <th>Country</th>
      <th>Contact</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Email</th>
      <th>link</th>
      <th>Bank details</th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.alias %></td>
        <td><%= supplier.address %></td>
        <td><%= supplier.country %></td>
        <td><%= supplier.contact %></td>
        <td><%= supplier.phone %></td>
        <td><%= supplier.fax %></td>
        <td><%= supplier.email %></td>
        <td><%= link_to 'Show', supplier, class: "btn btn-outline-secondary btn-sm" %></td>
        <td><%= link_to 'Bank Details', supplier_account_path(supplier), class: "btn btn-outline-secondary btn-sm"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
