<nav class="navbar navbar-light bg-light fixed-top">
    <a class="navbar-brand btn-light" href="<%= root_path %>"><h1>StgoOffice</h1></a>
    <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profiles</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="<%=clients_path %>">Clients</a>
                <a class="dropdown-item" href="<%=handlers_path %>">Handlers</a>
                <a class="dropdown-item" href="<%=sellers_path %>">Sellers</a>
                <a class="dropdown-item" href="<%=suppliers_path %>">Suppliers</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pre-load attributes</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="<%=sizes_path %>">Sizes</a>
                <a class="dropdown-item" href="<%=colors_path %>"> Colors</a>
                <a class="dropdown-item" href="<%=categories_path %>">Categories</a>
                <a class="dropdown-item" href="<%=ports_path %>">Ports</a>
                <a class="dropdown-item" href="<%=seasons_path %>">Seasons</a>
                <a class="dropdown-item" href="<%=payment_terms_path %>">Payment terms</a>
                <a class="dropdown-item" href="<%=brands_path %>">Brands</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Quotations</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="<%=products_path%>">Product</a>
                <a class="dropdown-item" href="<%=quotations_path%>">Quotation</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Orders</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="<%= orders_path %>#">Orders</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Deliveries</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Deliveries</a>
                <a class="dropdown-item" href="#">Documents</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Payments</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">payments</a>
                <a class="dropdown-item" href="#">Commissions</a>
                <a class="dropdown-item" href="#">Deductions</a>
                <a class="dropdown-item" href="#">Office expenses</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Commissions</a>
                <a class="dropdown-item" href="#">TT received</a>
                <a class="dropdown-item" href="#">Office expenses</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <% if user_signed_in? %> Log in </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="<%=destroy_user_session_path%>" data-method="DELETE">Sign out</a>
                <% else %>
              <a class="dropdown-item " href="<%=new_user_session_path%>">Sign in</a>
                <% end %>
            </div>
        </li>
    </ul>
</nav>
