<!DOCTYPE html>
<html>
  <head>
    <title>Stgooffice</title>
      <link rel="icon" href="app/assets/images/favicon.ico">
      <%= csrf_meta_tags %>
      <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/newnavbar" %>
        <% if user_signed_in? %>
        <div id="wrapper" class="toggled" > <!--class="toggled -->
              <div id="page-content-wrapper" class="card">
                <%= render "layouts/newsidebar" %>
                <div class="card-header">
                  <hr>
                  <h4 class="font-italic">Top Line Ltda. AG Chile</h4>
                </div>
                <% end %>
                <div class="jumbotron">
                  <%= yield %>
                </div>
                <div class="card-footer text-center">
                  <div class="text-center">
                    <%= render "layouts/footer" %>
                  </div>
                </div>
                </div>
          </div>
        </div>  </body>
  <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

  </html>
